* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    margin: 0 auto;
    background-color: red;
    background-image: url("/assets/background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: brightness(1);
}

.kartu>img {
    height: 100px;
    margin: auto;
    display: block;
    justify-content: center;
}

option {
    display: block;
    white-space: nowrap;
}